@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
  @apply px-4 py-2 font-bold rounded;
}
.btn-blue {
  @apply text-white bg-blue-500 hover:bg-blue-700;
}

html,
body,
canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}